body {
    background-color: #064663;
    color: #ECB365
}

.admin_mgmt-header {
    padding: 2rem;
    text-align: center;
    align-items: center;
    font-weight: 700;
}

.admin_mgmt-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.admin_mgmt-actions label {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}

.admin_mgmt-actions input {
    margin: 1rem 0;
    
}

.admin_mgmt-actionButton {
    padding: 0.2rem;
    margin: 1rem 0;
}