body {
    background-color: #064663;
    color: #ECB365
}

.home_login-header {
    padding: 2rem;
    text-align: center;
}

.home_login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}